body {
    background-image:url('../backgrounds/Background.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;

}
h2 {
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

p {
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #3b4a67;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
    font-size: 1.5rem;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.navbar li a:hover {
    background-color: #889faf;
}


.video_ac6_trailer video {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}


.slideshow-container {
    width: 90%;
    position: relative;
    margin: auto;
    padding-bottom: 100px;
}

.pictures_Games, .video_Features {
    display: none;
}

.pictures_Games {
    position: relative;
    text-align: center;
    color: white;
}

.pictures_Games img {
    width: 100%;
    height: auto;
}



.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.video_Features {
    position: relative;
    text-align: center;
    color: white;
}

.video_Features video {
    width: 100%;
    height: auto;
}



@media (max-width: 425px) {

    .text_GameDescription{
        position: absolute;
        bottom: -60%;
        background-color: #111111;
        opacity: 0.9;
        border-radius: 5px;
        color: white;
        left: 0%;
        right: 0%;
        text-align: center;
        width: 100%;
    }

    .text_Features {
        position: absolute;
        left: 0%;
        right: 0%;
        background-color: #111111;
        opacity: 0.9;
        border-radius: 5px;
        color: white;
        padding: 10px ;
        font-size: 1.25rem;
    }

    .text_mechGamesDescription p{
        font-size: 0.5rem;
    }


}

@media (min-width: 768px) {
    .text_GameDescription {
        position: absolute;
        bottom: 0%;
        background-color: #111111;
        opacity: 0.9;
        border-radius: 5px;
        color: white;
        left: 10%;
        right: 10%;
        text-align: center;
        font-size: 1.5rem;

    }

    .text_Features {
        position: absolute;
        bottom: -20%;
        left: 10%;
        right: 10%;
        background-color: #111111;
        opacity: 0.9;
        border-radius: 5px;
        color: white;
        padding: 10px ;
        font-size: 1rem;
    }

    .text_mechGamesDescription{
        font-size: 1.5rem;
    }

    .text_Developers{
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px){
    .text_Features {
        position: absolute;
        bottom: 0%;
        left: 10%;
        right: 10%;
        background-color: #111111;
        opacity: 0.9;
        border-radius: 5px;
        color: white;
        padding: 10px ;
        font-size: 1rem;
    }
}



